@value colorMint from '../../common/color.css';
@value colorPurple from "../../common/color.css";
@value colorPink from "../../common/color.css";
@value colorBorderGrey from "../../common/color.css";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.month {
  width: 100%;
  background-color: colorPink;
  font-size: 1.3rem;
  margin: 0.625rem 0px;
  color: white;
  font-weight: 550;
  padding: 0.625rem 0px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}
.week {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 0.625rem;
  color: colorPink;
}
.day {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.625rem 0px;
  font-weight: 500;
  font-weight: 600;
}
.icon {
  margin: 0px 0.625rem;
  cursor: pointer;
}
.button {
  background-color: transparent;
  border: none;
  color: white;
}
/* tablet(768~1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
}
/* mobile(~768px) */
@media (max-width: 768px) {
  .month {
    font-size: 1rem;
  }
}
/* pc (1025px 이상) */
@media (min-width: 1025px) {
}
