@value colorPink from "../../common/color.css";
@value colorBorderGrey from "../../common/color.css";

.container {
  font-family: "Montserrat", "Nanum Gothic", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.icon_check {
  font-size: 2rem;
  color: green;
}
.title {
  font-size: 1.5rem;
  padding: 20px;
  color: green;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text_email {
  font-weight: 600;
  margin-right: 5px;
  color: colorPink;
}
.text_element {
  line-height: 150%;
  margin-bottom: 10px;
}
.text_element_small {
  font-size: 0.8rem;
  line-height: 150%;
}
.button_backMain {
  width: 250px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-weight: 600;
  font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  color: white;
  border: none;
  background-color: colorPink;
  margin: 40px 20px 20px 20px; /*위 오른쪽 아래 왼쪽*/
  padding: 7px 0px;
  border-radius: 5px;
}
.button_backMain:hover {
  opacity: 0.9;
  transform: scale(0.99);
  cursor: pointer;
}
