@value colorMint from '../../common/color.css';
@value colorPurple from "../../common/color.css";
@value colorPink from "../../common/color.css";
@value colorBorderGrey from "../../common/color.css";

.container {
  font-family: "Montserrat", "Nanum Gothic", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-top: 10px;
  overflow-y: auto;
}
.form {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.button_back {
  display: flex;
  flex-direction: column;
  height: fit-content;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: colorPink;
}
.icon_back {
  font-size: 2rem;
}
.title_box {
  display: flex;
  align-items: center;
  justify-content: start;
}
.title {
  font-size: 1.3rem;
  padding: 20px;
}
.form_title {
  padding: 20px;
  color: colorPink;
  font-size: 1.1rem;
}
.recommendedCalories_box {
  display: flex;
  max-width: 360px;
}
.helpMessage {
  font-size: 0.8rem;
  color: grey;
  margin: 20px 20px 10px 20px;
}
.helpMessage:last-child {
  margin: 10px 20px 20px 20px;
}
.input_label {
  font-weight: 500;
  margin: 20px;
}
.input_kcal {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin-left: 20px;
  max-width: 260px;
  min-width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid colorBorderGrey;
  padding: 10px;
  font-weight: 500;
  font-size: 1rem;
}
.input {
  font-family: "Montserrat", "Nanum Gothic", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  margin-left: 20px;
  max-width: 360px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid colorBorderGrey;
  padding: 10px;
  font-weight: 500;
  font-size: 1rem;
}
.button_save {
  width: 250px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-weight: 600;
  font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  color: white;
  border: none;
  background-color: colorPink;
  margin: 40px 20px 20px 20px; /*위 오른쪽 아래 왼쪽*/
  padding: 7px 0px;
  border-radius: 5px;
}
.button_save:hover {
  opacity: 0.9;
  transform: scale(0.99);
  cursor: pointer;
}
.button_calculate {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-weight: 600;
  font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  color: white;
  border: none;
  background-color: grey;
  padding: 5px 10px;
  border-radius: 5px;
  min-width: 90px;
  margin-left: 10px;
}
.button_calculate:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: scale(0.99);
}
.loading_container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
