@value colorMint from '../../common/color.css';
@value colorPurple from "../../common/color.css";
@value colorPink from "../../common/color.css";
@value colorBorderGrey from "../../common/color.css";

.container {
  font-family: "Montserrat", "Nanum Gothic", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  min-height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffebee;
}
.main {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 90vh;
  overflow-y: auto;
  background-color: white;
}
.title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 20px;
}
.forms {
  margin: 50px 0px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cup_box {
  display: flex;
  align-items: center;
}
.cup_text,
.ml_text {
  font-weight: 600;
  padding: 5px 0px;
  margin-left: 5px;
  font-size: 1.1rem;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #f8bbd0;
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  color: colorPink;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.updown_button {
  background-color: transparent;
  border: none;
}
.icon {
  color: colorPink;
  opacity: 0.5;
  cursor: pointer;
}
.icon_up {
  margin-bottom: 5px;
}
.icon_down {
  margin-top: 5px;
}
.icon:hover {
  opacity: 1;
}
.time_select {
  border-radius: 10px;
  width: 70px;
  border: 2px solid #f8bbd0;
  height: 30px;
  font-size: 0.9rem;
  font-weight: 500;
  color: colorPink;
  cursor: pointer;
}
.helper {
  margin-top: 20px;
}
.helper_text {
  font-weight: 500;
  font-size: 0.9rem;
  color: grey;
}

.button {
  width: 250px;
  font-weight: 600;
  font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  color: white;
  border: none;
  background-color: colorPink;
  margin: 20px 0px;
  padding: 7px 0px;
  border-radius: 5px;
}
.button:hover {
  opacity: 0.9;
  transform: scale(0.99);
  cursor: pointer;
}
