@value colorMint from '../../common/color.css';
@value colorPurple from "../../common/color.css";
@value colorPink from "../../common/color.css";
@value colorBorderGrey from "../../common/color.css";

.container {
  display: flex;
  flex-direction: column;
  /* height: 70vh; */
}
.week {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.date_box {
  width: 14.2857143%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 0.625rem;
}
.date_bold {
  color: black;
  cursor: pointer;
}
.date_gray {
  color: lightgray;
}
.selected {
  background-color: #ffebee;
  border-radius: 0.313rem;
}
.diary_none {
  background-color: transparent;
  height: 0.313rem;
  width: 80%;
  margin-top: 0.313rem;
}
.diary_exist {
  background-color: colorPink;
  height: 0.313rem;
  width: 80%;
  margin-top: 0.313rem;
}

/* tablet(768~1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    height: 70vh;
  }
}
/* mobile(~768px) */
@media (max-width: 768px) {
  /* .date_box {
    padding: 0.4rem;
    font-size: 0.8rem;
  } */
}
/* pc (1025px 이상) */
@media (min-width: 1025px) {
  .container {
    height: 70vh;
  }
}
