@value colorMint from '../../common/color.css';
@value colorPurple from "../../common/color.css";
@value colorPink from "../../common/color.css";
@value colorBorderGrey from "../../common/color.css";

.container {
  font-family: "Montserrat", "Nanum Gothic", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-top: 10px;
}
.form1 {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.button_back {
  display: flex;
  flex-direction: column;
  height: fit-content;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: colorPink;
}
.icon_back {
  font-size: 2rem;
}
.title_box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.title {
  font-size: 1.3rem;
  padding: 20px;
}
.form1_title {
  padding: 20px;
  color: colorPink;
  font-size: 1.1rem;
}
.profile_box {
  display: flex;
  align-items: center;
}
.profile_img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin: 15px;
}
.profile_meta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile_text {
  margin: 5px;
  font-weight: 500;
}
.profile_button {
  width: fit-content;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-weight: 600;
  font-size: 0.9rem;
  font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  color: white;
  border: none;
  background-color: grey;
  margin: 10px 0px;
  padding: 7px 15px;
  border-radius: 5px;
}
.profile_button:hover {
  opacity: 0.9;
  transform: scale(0.99);
  cursor: pointer;
}
.input_label {
  font-weight: 500;
  margin: 20px;
}
.input {
  margin-left: 20px;
  max-width: 360px;
  min-width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid colorBorderGrey;
  padding: 10px;
  font-weight: 600;
  font-size: 1rem;
}
.input:disabled {
  background-color: #eeeeee;
  color: #9e9e9e;
}
.button_save {
  width: 250px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-weight: 600;
  font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  color: white;
  border: none;
  background-color: colorPink;
  margin: 40px 20px 20px 20px; /*위 오른쪽 아래 왼쪽*/
  padding: 7px 0px;
  border-radius: 5px;
}
.button_save:hover {
  opacity: 0.9;
  transform: scale(0.99);
  cursor: pointer;
}
.loading_container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* tablet(768~1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
  .profile_button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
  .button_save {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
}
/* mobile(~768px) */
@media (max-width: 768px) {
  .container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
  .profile_button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
  .form1_title {
    padding: 20px 0px;
  }
  .input_label {
    margin: 20px 0px;
  }
  .input {
    margin-left: 0px;
  }
  .button_save {
    align-self: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    margin: 40px 0px;
  }
}
/* pc (1025px 이상) */
@media (min-width: 1025px) {
}
