@value colorBorderGrey from "../../common/color.css";
@value colorInactiveGrey from "../../common/color.css";
@value colorPink from "../../common/color.css";

.container {
  height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 10px 25px;
}
.inputBox {
  position: relative;
  height: 50px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
.input {
  margin: 5px 0px;
  width: 250px;
  height: 30px;
  border: none;
  outline: none;
  padding-top: 20px;
  font-weight: 700;
}
.label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1.5px solid colorInactiveGrey;
}
.label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 1.5px solid colorPink;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.label_content {
  color: colorInactiveGrey;
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
  font-size: 0.9rem;
}

.input:focus + .label .label_content,
.input:valid + .label .label_content {
  transform: translateY(-150%);
  font-size: 0.8rem;
  font-weight: 600;
  color: colorPink;
}
.input:focus + .label::after,
.input:valid + .label::after {
  transform: translateX(0%);
}
