@value colorMint from '../../common/color.css';
@value colorPurple from "../../common/color.css";
@value colorPink from "../../common/color.css";
@value colorBorderGrey from "../../common/color.css";

.container {
  font-family: "Montserrat", "Nanum Gothic", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-top: 10px;
}
.form1 {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.button_back {
  display: flex;
  flex-direction: column;
  height: fit-content;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: colorPink;
}
.icon_back {
  font-size: 2rem;
}
.title_box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.title {
  font-size: 1.3rem;
  padding: 20px;
}
.form1_title {
  padding: 20px;
  color: colorPink;
  font-size: 1.1rem;
}
.info {
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.info_text {
  font-size: 0.9rem;
  margin: 20px;
}
.info_email {
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  width: fit-content;
  font-weight: 700;
  font-size: 1.1rem;
  color: colorPink;
}
.icon_mail {
  margin-right: 10px;
  color: colorBorderGrey;
}

.password_box {
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.password_input_box0,
.password_input_box1,
.password_input_box2 {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.password_input_box0 {
  margin-bottom: 30px;
}
.password_input_box1 {
  margin-bottom: 20px;
}
.password_input_label {
  margin: 10px 0px;
}
.password_input {
  height: 30px;
  border: 1px solid colorBorderGrey;
  border-radius: 5px;
}
.message_alert {
  color: red;
  font-size: 0.8rem;
  margin-top: 10px;
}
.button_submit {
  width: 250px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-weight: 600;
  font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  color: white;
  border: none;
  background-color: colorPink;
  margin: 40px 20px 20px 20px; /*위 오른쪽 아래 왼쪽*/
  padding: 7px 0px;
  border-radius: 5px;
}
.button_submit:hover {
  opacity: 0.9;
  transform: scale(0.99);
  cursor: pointer;
}
.loading_container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
