@value colorMint from '../../common/color.css';
@value colorPurple from "../../common/color.css";
@value colorPink from "../../common/color.css";
@value colorBorderGrey from "../../common/color.css";

.container {
  font-family: "Montserrat", "Nanum Gothic", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  min-height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 10px;
  border: 5px solid #ffebee;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

  width: 80%;
  height: 90vh;
}
.title {
  font-size: 1.3rem;
  margin: 20px;
}
.text {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid colorBorderGrey;
  border-bottom: 1px solid colorBorderGrey;
}
.text_text1 {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.text_text2 {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.icon {
  font-size: 1.5rem;
  margin-right: 5px;
  color: #a6794d;
}
