.container {
  font-family: "Montserrat", "Nanum Gothic", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  min-height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffebee;
}
.main {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #f8bbd0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  width: 80%;
  height: 90vh;
  overflow-y: auto;
}
.calendar {
  width: 50%;
  height: 100%;
}
