@value colorPink from "../../common/color.css";
@value colorBorderGrey from "../../common/color.css";

.container {
  font-family: "Montserrat", "Nanum Gothic", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.icon_lock {
  font-size: 2rem;
  color: colorBorderGrey;
}
.title {
  font-size: 1.5rem;
  padding: 20px;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text_element {
  line-height: 150%;
}
.text_element:last-child {
  margin-bottom: 20px;
}
.input {
  min-width: 250px;
  height: 30px;
  padding: 10px;
  border: 1px solid colorBorderGrey;
}
.button_submit {
  width: 250px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-weight: 600;
  font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  color: white;
  border: none;
  background-color: colorPink;
  margin: 40px 20px 20px 20px; /*위 오른쪽 아래 왼쪽*/
  padding: 7px 0px;
  border-radius: 5px;
}

.button_submit:hover {
  opacity: 0.9;
  transform: scale(0.99);
  cursor: pointer;
}

/* tablet(768~1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
  .button_submit {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
}
/* mobile(~768px) */
@media (max-width: 768px) {
  .container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
  .button_submit {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
}
