@value colorMint from '../../common/color.css';
@value colorPurple from "../../common/color.css";
@value colorPink from "../../common/color.css";
@value colorBorderGrey from "../../common/color.css";

.container {
  font-family: "Montserrat", "Nanum Gothic", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  min-height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffebee;
}

.main {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 90vh;
  overflow-y: auto;
  background-color: white;
}
.title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 20px;
}
.icon {
  margin-right: 5px;
  color: #9be7ff;
  font-size: 1.5rem;
}
.text_column {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid colorBorderGrey;
}
.text_column_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bold {
  font-weight: 600;
}
.text_text2 {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.text_column_child {
  margin-top: 10px;
}
.text_water_meta {
  width: 100%;
}
.text_water {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text_water_time {
  display: flex;
  justify-content: space-between;
}
.text_water_title {
  font-weight: 600;
  margin: 10px 0px;
}
