@value colorPink from "../../common/color.css";
@value colorBorderGrey from "../../common/color.css";

.loading_container {
  background-color: #ffebee;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  font-family: "Montserrat", "Nanum Gothic", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffebee;
}
.main {
  display: flex;
  flex-direction: column;
  padding: 0.625rem 1.25rem;
  border-radius: 0.625rem;
  border: 1px solid #f8bbd0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  width: 80%;
  height: 90vh;
  overflow-y: auto;
}
.button_back {
  margin-top: 1.25rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: fit-content;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: colorPink;
}
.icon_back {
  font-size: 2rem;
}
.title {
  margin: 1.25rem;
  font-size: 1.2rem;
  text-align: center;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.input_search {
  width: 80%;
  height: 1.875rem;
  border: 0.188rem solid colorPink;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 0.188rem rgba(0, 0, 0, 0.08);
}
.search_button {
  border: none;
  background-color: transparent;
}
.search_icon {
  color: grey;
  font-size: 1.3rem;
}
.result {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result_item {
  margin-top: 1.875rem;
  width: 90%;
  height: 35vh;
  overflow-y: scroll;
  border: 1px solid #f8bbd0;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 0.188rem rgba(0, 0, 0, 0.08);
  border-radius: 0.313rem;
}
.result_item::-webkit-scrollbar {
  background-color: #fff;
  border-radius: 10px;
  width: 1rem;
}
.result_item::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
}
.result_item::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}
.result_item::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 0.313rem solid #fff;
}
.result_item::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4;
}
.result_item::-webkit-scrollbar-button {
  display: none;
}
.select {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.select_title {
  margin: 0.938rem;
}
.select_box1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.exercise_name {
  width: 100%;
  text-align: center;
}
.subform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input_number {
  width: 3.125rem;
  height: 1.875rem;
  border-radius: 10px;
  border: 2px solid #f8bbd0;
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  color: colorPink;
}
.input_number::-webkit-outer-spin-button,
.input_number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.updown_button {
  background-color: transparent;
  border: none;
}
.icon {
  color: colorPink;
  opacity: 0.5;
  cursor: pointer;
}
.icon_up {
  margin-bottom: 0.313rem;
}
.icon_down {
  margin-top: 0.313rem;
}
.icon:hover {
  opacity: 1;
}
.time_box,
.kcal_box {
  display: flex;
  align-items: center;
}
.time_text,
.kcal_text {
  font-weight: 600;
  padding: 0.313rem 0px;
  margin-left: 0.313rem;
  font-size: 1.1rem;
}
.kcal {
  font-weight: 700;
  color: colorPink;
  font-size: 1.1rem;
}
.addButton {
  width: 15.625rem;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 0.188rem rgba(0, 0, 0, 0.08);
  font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  color: white;
  border: none;
  background-color: colorPink;
  margin: 1.25rem 0px;
  padding: 0.438rem 0px;
  border-radius: 0.313rem;
}
.addButton:hover {
  opacity: 0.9;
  transform: scale(0.99);
  cursor: pointer;
}

/* tablet(768~1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
  .main {
    width: 95%;
    height: 80vh;
  }
  .addButton {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
}
/* mobile(~768px) */
@media (max-width: 768px) {
  .container {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
  .main {
    width: 95%;
    height: 80vh;
  }
  .icon_back {
    font-size: 1.5rem;
  }
  .addButton {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
}
/* pc (1025px 이상) */
@media (min-width: 1025px) {
  .container {
    min-height: 92vh;
  }
  .main {
    height: 90vh;
  }
}
