@value colorMint from '../../common/color.css';
@value colorPurple from "../../common/color.css";
@value colorPink from "../../common/color.css";
@value colorBorderGrey from "../../common/color.css";

.header {
  height: 8vh;
  font-family: "Montserrat", "Nanum Gothic", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: relative;
}
.logo {
  margin-left: 1.25rem;
  display: flex;
  align-items: center;
  width: 50%;
  color: white;
}
.title {
  font-size: 1.2rem;
  font-weight: 600;
  /* color: white; */
  color: colorPink;
}
.icon {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 0.625rem;
  color: colorPink;
}
.navbar {
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin-right: 1.25rem;
}
.navbar_item {
  cursor: pointer;
  margin-right: 1.25rem;
}
.avatar {
  max-width: 2.188rem;
  max-height: 2.188rem;
  border-radius: 3.125rem;
}
.profile {
  width: 100%;
  display: flex;
  padding: 1.25rem;
  border-top-left-radius: 0.438rem;
  border-top-right-radius: 0.438rem;
  background-color: colorPink;
}
.userBox {
  position: absolute;
  background-color: white;
  top: 3.125rem;
  right: 3.125rem;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 0.438rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.email {
  margin: 0.625rem 1.25rem;
  color: white;
}
.userBox_item {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.userBox_item_text {
  font-weight: 500;
}
.icon_logout,
.icon_mypage {
  color: grey;
  margin-right: 1.25rem;
  font-size: 1.1rem;
}
.userBox_item:hover {
  background-color: #eceeef;
}
.invisible {
  display: none;
}
.visible {
  display: block;
}
/* tablet(768~1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
}
/* mobile(~768px) */
@media (max-width: 768px) {
  .header {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
}
